#box {
  background: linear-gradient(
    179.4deg,
    rgb(253, 240, 233) 2.2%,
    rgb(255, 194, 203) 96.2%
  );
  border: 2px solid purple;
  border-radius: 10px;
  padding: 20px;
  padding-bottom: 5px;
  margin: 20px 300px 5px;
  box-shadow: 5px 5px 5px rgba(110, 108, 108, 0.3);
}
body {
  font-family: "Marcellus", serif;
}
header.cityname {
  font-size: 60px;
  margin-top: 40px;
}

.citytemperature {
  position: relative;
  right: -240px;
  top: -114px;
  font-size: 60px;
}
#country {
  position: relative;
  right: -10px;
}
#current-date {
  position: relative;
  right: -10px;
}
#description {
  position: relative;
  right: -10px;
}
#celsius {
  position: relative;
  right: -250px;
  top: -130px;
  text-decoration: none;
  font-size: 30px;
  color: black;
}
#celsius:hover {
  color: brown;
  text-decoration: none;
}
#fahrenheit:hover {
  color: brown;
  text-decoration: none;
}
#fahrenheit {
  position: relative;
  right: -250px;
  top: -130px;
  font-size: 30px;
  text-decoration: none;
  color: black;
}

#icon {
  position: relative;
  right: -240px;
  top: -132px;
}
ul {
  list-style: none;
  position: relative;
  top: -150px;
  right: -350px;
  font-size: 20px;
  color: grey;
}

section {
  text-align: center;
}

.credit {
  margin-left: 300px;
  color: palevioletred;
}
#celsius.active {
  color: rgb(33, 33, 33);
  cursor: default;
}

#fahrenheit.active {
  color: rgb(33, 33, 33);
  cursor: default;
}

section {
  position: relative;
  top: -130px;
}
.weather-forecast-temperature-min {
  opacity: 0.5;
}
.weather-forecast {
  font-size: 16px;
}
